<div class="home__container">

<app-card
	gameCover="assets/naruto.jpg"
	gameLabel="PRE-SALE"
	gameType="DIGITAL PS4 | PS5"
	gamePrice="R$474,50"
	>
</app-card>

<app-card
	gameCover="assets/ufc-5.jpg"
	gameLabel="NEW"
	gameType="DIGITAL PS4 | PS5"
	gamePrice="R$358,90"
	>
</app-card>

<app-card
	gameCover="assets/spider.jpg"
	gameLabel="NEW"
	gameType="DIGITAL PS5"
	gamePrice="R$349,90"
	>
</app-card>

<app-card
	gameCover="assets/codmw-3.jpg"
	gameLabel="NEW"
	gameType="DIGITAL PS4 | PS5"
	gamePrice="R$299,00"
	>
</app-card>

<app-card
	gameCover="assets/efoot-24.jpg"
	gameLabel="DIGITAL"
	gameType="DIGITAL PS4 | PS5 "
	gamePrice="R$ 104,90"
	>
</app-card>

<app-card
	gameCover="assets/nba-24.jpg"
	gameLabel="NEW"
	gameType="DIGITAL PS4 | PS5"
	gamePrice="R$349,90"
	>
</app-card>

<app-card
	gameCover="assets/fc-24.jpg"
	gameLabel="DIGITAL"
	gameType="DISC PS4 | PS5"
	gamePrice="R$358,90"
	>
</app-card>

<app-card
	gameCover="assets/horizon.jpg"
	gameLabel="EXCLUSIVE"
	gameType="DIGITAL PS4 | PS5"
	gamePrice="R$249,50"
	>
</app-card>

<app-card
	gameCover="assets/tl-2.jpg"
	gameLabel="EXCLUSIVE"
	gameType="DIGITAL PS4"
	gamePrice="R$199,50"
	>
</app-card>

<app-card
	gameCover="assets/gow-rag.jpg"
	gameLabel="EXCLUSIVE"
	gameType="DIGITAL PS4 | PS5"
	gamePrice="R$349,90"
	>
</app-card>

<app-card
	gameCover="assets/fortnite.jpg"
	gameLabel="FREE"
	gameType="DIGITAL PS4 | PS5"
	gamePrice="FREE GAME"
	>
</app-card>

<app-card
	gameCover="assets/gta-v.jpg"
	gameLabel="TRENDING GAMES"
	gameType="DIGITAL PS4"
	gamePrice="R$159,90"
	>
</app-card>

</div>
